POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host

SECRET_KEY=secret_key_here
ALGORITHM=algorithm_here
ACCESS_TOKEN_EXPIRE_MINUTES=expire_minutes_here

DATABASE_URL=postgresql://user:password@host/dbname